<div>
  <div class="form-group">
    <button type="button" class="btn btn-primary" [routerLink]="['/cliente/form']">Novo</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">CODIGO</th>
        <th scope="col">NOME</th>
        <th scope="col">CIDADE</th>
        <th scope="col">UF</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes; let i = index">
        <td>{{cliente.id}}</td>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.cidade}}</td>
        <td>{{cliente.uf}}</td>
        <td>
          <button type="button" class="btn btn-primary" [routerLink]="['/cliente/form', cliente.id]">Editar</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="getDeletarCliente(cliente.id, i)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
